<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Header -->
    <th:block th:insert="fragment/head-frag :: headFragment"></th:block>
    <!-- item CSS -->
    <link rel="stylesheet" th:href="@{/css/food-info.css}">

    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<!-- header fragment 사용 -->
<th:block th:replace="fragment/header-frag :: headerFragment"></th:block>
<!--/*@thymesVar id="recipe" type="com.learn.spring.section11.domain.Recipe"*/-->
<!--/*@thymesVar id="ingredients" type="java.util.Set<com.learn.spring.section11.commands.IngredientCommand>"*/-->
<section>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h1 class="panel-title">Ingredients</h1>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                            <table class="table table-hover ">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>View</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr th:remove="all">
                                    <td>123</td>
                                    <td>Tasty Goodnees 1</td>
                                    <td><a href="#">View</a></td>
                                    <td><a href="#">Update</a></td>
                                    <td><a href="#">Delete</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td>12333</td>
                                    <td>Tasty Goodnees 2</td>
                                    <td><a href="#">View</a></td>
                                    <td><a href="#">Update</a></td>
                                    <td><a href="#">Delete</a></td>
                                </tr>
                                <tr th:each="ingredient : ${recipe.ingredients}">
                                    <td th:text="${ingredient.id}">334</td>
                                    <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.getDescription()} + ' ' + ${ingredient.description} + '/show'">Tasty Goodnees 3</td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>