<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Header -->
    <th:block th:insert ="fragment/head-frag :: headFragment"></th:block >
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<!-- header fragment 사용 -->
<!-- th:block th:replace="fragment/header-frag :: headerFragment"></th:block -->

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>url</th>
        <th>Directions</th>
    </tr>

    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.url}"></td>
        <td th:text="${recipe.directions}"></td>
    </tr>
</table>


</body>
</html>