<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Header -->
    <th:block th:insert ="fragment/head-frag :: headFragment"></th:block >
    <!-- item CSS -->
    <link th:href="@{/css/food-info.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<!-- header fragment 사용 -->
<th:block th:replace="fragment/header-frag :: headerFragment"></th:block>

<section th:each="recipe : ${recipes}" id="food-intro-area">
    <div class="outer-flex-area">
        <div class="inner-flex-area">
            <img th:src="@{/img/{id}.jpg(id=${recipe.id})}">
            <div class="text-box">
                <h4 th:text="|${recipe.id}, ${recipe.description}|"></h4>
                <p th:text="${recipe.url}"></p>
                <p th:text="${recipe.directions}"></p>
            </div>
        </div>
    </div>
</section>

</body>
</html>